[Desktop Entry]
Type=Applcation
Name=YouTubeTV
Exec=/usr/bin/google-chrome-user-agent="Mozilla/5.0 (SMART-TV; Linux; Tizen 2.4.0) AppleWebkit/538.1 (KHTML, like Gecko) SamsungBrowser/1.1 TV Safari/538.1" -kiosk youtube.com/tv#
